language: objective-c
osx_image: xcode9
before_install:
  - gem install xcpretty
script:
  - xcodebuild clean build -sdk iphonesimulator -workspace iMast.xcworkspace -scheme iMast CODE_SIGNING_REQUIRED=NO | xcpretty -c