extends ../_template
block head
    title= title ? title + " - iMast ヘルプ" : "iMast ヘルプ"
block body
    h1= title ? title + " - iMast ヘルプ" : "iMast ヘルプ"
    block content
    footer
        p 公式アカウント 
            a(href="https://imastodon.net/@imast_ios") @imast_ios@imastodon.net