extends _template
prepend head
    - title = "設定"
block content
    p 説明を見たい項目をタップすると開きます
    details
        summary ストリーミング自動接続
        p ホーム/ローカルタイムラインを開いた際、または何らかの原因によりストリーミングの接続が切れてしまった場合に、ストリーミングを(再)接続する条件を設定できます。
        p 「しない」にすると、手動で接続をしない限りストリーミングには接続しません。
        p 「WiFiのみ」にすると、端末がWiFiに接続されている場合のみストリーミングを接続します。
        p 「常に接続」にすると、端末がセルラーネットワークに接続されていても、WiFiに接続されていても、ストリーミングに接続します。
    details
        summary 新規連携時のvia
        p 「その他」→「アカウントを変更」→「追加」からアカウントを追加する際に、認証するアプリケーション名を変更できます。
        p 変更したアプリケーション名は、Mastodonの「設定」→「認証済みアプリ」や一部のクライアントで投稿とともに表示されます。
    details
        summary フォロー関係を以前の表記に
        p ユーザーのプロフィール画面で表示される、「関係: 」の表記がiMast 2.2から変更になりました。
        p この設定を有効にすると、iMast 2.1までの表記に戻せます。
    details
        summary 投稿時にメディアURLを追加
        p 投稿時に、500文字以内に収まりそうであれば、<code>https://インスタンスホスト名/media/英数字</code>のURLを追加します。
        p この設定を有効にしないと、一部のクライアント(iMastなど)では、添付した画像を見る手段がなくなるので、特別な理由がない限りONにするのをおすすめします。
    details
        summary nowplayingのフォーマット
        p 投稿作成画面の「♪」マークから呼び出せる、NowPlayingで挿入する文字列のフォーマットを変更できます。
        p 以下の文字列を含めると、挿入時に置換されます。
        table.table
            tr
                th 置換元
                th 置換される文字列
            tr
                td {title}
                td 曲名
            tr
                td {artist}
                td 曲のアーティスト名
            tr
                td {albumTitle}
                td アルバム名
            tr
                td {albumArtist}
                td アルバムのアーティスト名
    hr
    details
        summary ユーザー名の文字/本文の文字/アイコンの大きさ
        p タイトル通り、各種の大きさを変更できます。
        p 変更後は、アプリを再起動するか、Streamingメニュー（タイムライン左上の稲妻のマーク）から「再描画」を選択するまで反映されません。
    hr
    details
        summary 投稿フォーマット
        p クイック投稿ウィジェットから投稿する際のフォーマットを指定できます。
        p <code>{clipboard}</code>がクリップボードの内容に置換されます。
    details
        summary フィルタ
        p 正規表現でフィルタを書くと、指定された正規表現にクリップボードの内容がマッチしない場合は、クイック投稿ウィジェットからの投稿ができなくなります。
        p 誤爆予防におすすめです。