doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="robots", content="noindex, nofollow")
        meta(name="viewport", content="width=device-width")
        block head
    body
        block body
