doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="styles/top.css")
        meta(name="apple-itunes-app", content="app-id=1229461703")
        title iMast
        meta(name="description", content="シンプルで軽量なiOS用Mastodonクライアント、iMastの公式サイトです。")
    body
        section: .container.text-center.text-md-left
            .row.align-items-center
                .col-md-8
                    h1.mb-3 iMast
                    p.lead
                        span.one-word iMastは、
                        span.wbr
                        span.one-word iPhone, 
                        span.one-word iPod touch, 
                        span.one-word iPad用の
                        span.wbr
                        span.one-long-word
                            span.one-word Mastodon
                            span.one-word クライアント
                        span.one-word です。
                    <a class="github-button" href="https://github.com/cinderella-project/iMast" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star cinderella-project/iMast on GitHub">Star</a>
                .col-md-4.text-center.block-center
                    .app-info
                        img.app-icon.m-4.mt-md-0(src="./assets/imast_icon.png")
                        a.app-link(href="https://apps.apple.com/jp/app/imast/id1229461703")
                            img.appstore(src="./assets/download_appstore.svg",alt="App Storeでダウンロード")
        section#infocontent: .container
            h2 圧倒的な情報量を、 あなたの手のひらへ
            p.lead iMastは、あまり使われない「ブースト」や「お気に入り」ボタンをタイムライン上から除去することで、タイムラインに表示できるトゥート数を増やすことに成功しました。
            .row.text-center
                .col
                    img(src="./assets/timeline_official.png")
                    p.lead 公式 Webクライアント
                .col
                    img(src="./assets/timeline_imast.png")
                    p.lead iMast 
            p.lead それでは、「ブースト」や「お気に入り」をしたいときはどうすればいいのでしょうか？ご安心ください、投稿を右から左にスライドすれば、隠されたボタンが出てきます。
            .text-center
                video(src="./assets/toot_action.mp4",autoplay,loop,muted)
            h2 共有
            p.lead iMastは、Webサイトやテキストだけでなく、画像も共有することに成功しました。
            p.lead 例えば、「写真」アプリで見つけたお気に入りの一枚や、インクを塗り合って戦うあのゲームの戦績も、簡単にシェアできます。
            .text-center
                img(src="./assets/share_dialog.png",style={"border-radius": "8px"})
        footer: .container
            .text-muted Apple、Apple ロゴ、iPhone、iPod touch、およびiPad は米国その他の国で登録された Apple Inc. の商標です。App Store は Apple Inc. のサービスマークです。
        script(async,defer,src="https://buttons.github.io/buttons.js")
