extends _template
block body
    p iMastは、どこかのMastodonインスタンス上にアカウントを持っていないと利用できません。
    p まだMastodonインスタンス上にアカウントを持っていない！という方は、ぜひこの機会にMastodonのアカウントを作成してみてください。
    p Mastodonインスタンスについては、
        a(href="https://instances.mastodon.xyz/list") https://instances.mastodon.xyz/list
        | にだいたいのインスタンスの一覧が載っていますので、参考にしてみてください。
    p (リンク先はiMast、及びiMastの開発者とは一切関係ありません)
